<div class="c1">
  <h1>Simple Expense Manager Project</h1>
</div>
<form [formGroup]="myform" (ngSubmit)="addExpenses(myform.value)">
  <div class="grid-container">
    <div class="item">
      <button style="background-color:#33eb91;border:0px;font-size: 25px;color: white;" *ngIf="isDone"><b>Done:</b></button><br>
      <button style="background-color:#33eb91;border:0px;font-size: 25px;color: white;" *ngIf="!isDone"><b>Add new
          item:</b></button><br>
      <label style="color: white;"><b>Type:</b></label>
      <input list="type" placeholder="Cash" formControlName="type">
      <datalist id="type">
        <option value="Cash">
        <option value="Cheque">
        <option value="Credit Card">
        <option value="Debit Card">
      </datalist>
    </div>

    <div class="item">
      <button style="border:0px;background-color:#33eb91 ;color: white;"><b>Add Friend:</b></button>
      <input type="text" name="t1" style="border:0;background-color: #33eb91;"
        onkeypress="return enterKeyPressed(event)"><br>
      <select id="addfriend" name="friend" multiple="true" style="width:140px" formControlName="friend">
        <option value="Andy">Andy</option>
        <option value="Sandy">Sandy</option>
        <option value="Mandy">Mandy</option>
        <option value="Randy">Randy</option>
      </select><br><br>
    </div>
    <div class="item">
      <label style="color: white;"><b>Name:</b></label>
      <input type="text" placeholder="What did you spend on?" formControlName="name">
    </div>
    <div class="item">
      <label style="color: white;"><b>Date:</b></label>
      <input type="date" formControlName="date">
    </div>
    <div class="item">
      <label style="color: white;"><b>Currency:</b></label>
      <input list="currency" placeholder="USD" formControlName="currency">
      <datalist id="currency">
        <option value="USD">
        <option value="INR">
        <option value="GBP">
        <option value="AUD">
      </datalist>
    </div>
    <div class="item">
      <label style="color: white;"><b>Amount:</b></label>
      <input type="number" placeholder="How Much?" formControlName="amount">
    </div>
  </div>
  <div class="c2">
    <button type="submit" class="btn btn-primary" [disabled]="!myform.valid" *ngIf="!isEdit">Add a new
      expense</button><br>
  </div>
  <div class="c2">
    <button type="button" class="btn btn-primary" (click)="updateExpenses()" *ngIf="isEdit">Edit expense</button><br>
  </div>
</form>
<div class="c5">
  <span class="c3">
    <label><b>Filter by Friend:</b></label>
    <input list="friend" name="friend" placeholder="Andy">
    <datalist id="friend">
      <option value="Andy">
      <option value="Sandy">
      <option value="Mandy">
      <option value="Randy">
    </datalist>
  </span>
  <span class="c4">
    <label><b>Currency:</b></label>
    <input list="currency" name="currency" placeholder="USD">
    <datalist id="currency">
      <option value="USD">
      <option value="INR">
      <option value="GBP">
      <option value="AUD">
    </datalist>
  </span>
</div>

<div class="c6">
  <table id="myTable" class="table table-bordered">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Currency</th>
      <th>Friends</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let expenses of data">
      <td>{{expenses.type}}</td>
      <td>{{expenses.name}}</td>
      <td>{{expenses.currency}}</td>
      <td>{{expenses.friend}}</td>
      <td>{{expenses.date}}</td>
      <td>{{expenses.amount}}</td>
      <td><button type="button" (click)="editExpenses(expenses)">Edit</button></td>
      <td><button type="button" (click)="deleteExpenses(expenses)">Delete</button></td>
    </tr>
  </table>
</div>